.fish-container {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    top: 0px;
    left: 0px;
}

.fish {
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 0%;
    margin-right: 0%;
    left: 0px;
    top: 0px;
    z-index: 3;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}